<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

</configuration>
