<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/springboot-hive2.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/springboot-hive2.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<root level="INFO">
		<appender-ref ref="file" />
	</root>

	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

</configuration>
